@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");
:root {
  --primary: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: "Figtree", sans-serif;
}
img {
  max-width: 100%;
}

main {
  height: 100vh;
  display: grid;
  place-content: center;
}
.card {
  width: 21rem;
  background-color: var(--white);
  padding: 0.8rem;
  border-radius: 1rem;
  border: 1px solid var(--black);
  box-shadow: 0.4rem 0.4rem rgb(0, 0, 0);
}

.card__image {
  margin-bottom: 0.9rem;
}

.card__image img {
  border-radius: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.3rem;
  font-size: 0.9rem;
  background-color: var(--primary);
  border-radius: 0.3rem;
  font-weight: 800;
  margin-bottom: 0.7rem;
}

.date {
  font-size: 0.85rem;
  margin-bottom: 1.1rem;
}

.title {
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 1.1rem;
}
.title h1:hover {
  color: var(--primary);
  transition: all 0.15s ease-out;
}

.description {
  font-size: 0.9rem;
  padding-right: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--grey);
  margin-bottom: 0.7rem;
}

.author {
  display: flex;
  align-items: center;
}

.author__img {
  display: inline-block;
  width: 10%;
  margin-right: 0.5rem;
}

.author__img img {
  max-width: 100%;
}

.author__name {
  font-size: 0.8rem;
}
